<section class="contact-main-container">

  <section class="contact-section" id="contact">
    <p class="sand">
      Cupcake Ipsum
    </p><br>
    <p>
      I don't have contact info becuase I'm not real. This is just a static website from a new developer. Check out his portfolio at: dnevdev.wixsite.com/portfolio
    </p>
    <br>
    <a ui-sref="home">
      home
    </a>
    <br>
    <p class="sand" style="color: pink; text-shadow: 1px 1px black" >
      Jelly lemon drops jujubes tiramisu I love fruitcake. Jelly caramels I love brownie gummi bears dessert chupa chups powder. Chocolate sweet croissant jelly beans. Wafer tootsie roll pie muffin lollipop gummies tart dragée. Macaroon apple pie tart. I love cake pastry dessert sugar plum cookie sweet roll. Lollipop halvah cheesecake fruitcake lemon drops I love gummi bears.
Lemon drops pastry topping I love. Chupa chups I love halvah danish. Danish apple pie bear claw. Fruitcake sugar plum sweet chupa chups soufflé. Topping bonbon fruitcake powder I love fruitcake cake I love pastry. Tootsie roll gummies jelly beans tart. Jelly lollipop sweet jelly-o wafer donut. I love I love pudding I love muffin sesame snaps icing. Toffee chocolate bar halvah toffee pastry jelly beans jelly beans cookie bear claw.
Powder gummies candy fruitcake.
  <form class="form" type="text" >
      <section>
        <input type="text" name="name" class="left" placeholder=" email">
        <input type="text" style="margin-right: 0px" name="name" placeholder=" subject">
      </section>
      <textarea name="name" rows="8" cols="40" placeholder=" Message..."></textarea>
    </form>
    <input type="submit" class="submit" name="submit"></button>
  </section>
</section>
