<section class="contact-main-container">
  <section class="contact-section" id="contact">
    <p class="sand">
      Contact
    </p>
    <form class="form" type="text" >
      <section>
        <input type="text" name="name" class="left" placeholder=" email">
        <input type="text" style="margin-right: 0px" name="name" placeholder=" subject">
      </section>
      <textarea name="name" rows="8" cols="40" placeholder=" Message..."></textarea>
    </form>
    <input type="submit" class="submit"name="submit"></button>
  </section>
</section>
