<div class="event-page-container">
  <section class="event-header-section-container">
    <p class="desc event-desc">
      events
    </p>
  </section>

  <section class="image">
    <img class="pic" src="https://hd.unsplash.com/photo-1472589757312-2f192d867ee2" alt="" />
    <p>bridegroom</p>
  </section>

  <section class="image">
    <img class="pic" src="https://hd.unsplash.com/photo-1431308305062-f218b6fe520a" alt="" />
    <p>rockstar</p>
  </section>

  <section class="image">
    <img class="pic" src="https://hd.unsplash.com/photo-1466150036782-869a824aeb25" alt="" />
    <p>rock on</p>
  </section>

  <section class="contact">

  </section>


  <p class="contact">
    contact
  </p>

</div>
  <span class="mini"></span>
<span class="mini2"></span>
