.contact-main-container {
  // height: 100vh;
  // background-color: #F4CAC2;
  background: url('http://unsplash.com/photos/OpiZAxueRUE/download');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: courier;

  .contact-section {

    display: flex;
    flex-flow: column;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-bottom: 2em;

      ::-webkit-input-placeholder {
         color: pink;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: pink;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: pink;
      }

      :-ms-input-placeholder {
         color: pink;
      }

      .sand {
        text-shadow: 1px 1px 2px gray;
        color: white;
      }
      
      form {
        opacity: .6;

        section {
          display: flex;
          flex-direction: row;
          width: 102%;

          input {
            width: 45%;
            border-radius: 5px;
            border: none;
            margin-bottom: 1em;
            height: 2em;
            font-family: courier;
            box-shadow: 1px 1px 5px black;
            background-color: black;
            color: pink;
          }
          .left {
            margin-right: 10%;
          }

        }
        textarea {
          width: 100%;
          border-radius: 5px;
          border: none;
          font-family: courier;
          box-shadow: 1px 1px 5px black;
          background-color: black;
          color: pink;
        }

      }
      input {
        font-family: courier;
      }
  }

  .submit {
    color: white;
  }
}
