
@media (min-width: 360px){
  .main-section-container {
    background-position: -17.5em;
  }

  .small-about-section-container {

    p {
      margin-bottom: 6em;
    }

  }

}

@media (min-width: 375px){

  .main-section-container {
    background-position: -18.5em;
  }

  .small-about-section-container {

    p {
      margin-bottom: 4em;
    }

  }

}

@media (min-width: 412px){
  .main-section-container {
    background-position: -20em;
  }

  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
}

@media (min-width: 414px){
  .main-section-container {
    background-position: -20.5em;
  }

  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
}

@media (min-width: 700px){

  .main-section-container {
    background-position: 50%;
    img {
      height: 65px;
      top: 30px;
      left: 34px;
      position: absolute;
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
      height: 10px;
      width: 59px;
      top: 20px;
      right: 15px;
    }
    #nav-toggle span:before {
      top: -19px;
      right: 0px;
    }
    #nav-toggle span:after {
      bottom: -19px;
      right: 0px;
    }
    .nav {
      font-size: 48px;
      .close {
        right: 55px;
      }
      .close:before, .close:after {
        height: 60px;
        width: 12px;
      }
      .heart {
        height: 40px;
        width: 40px;
      }
      .heart:before,
      .heart:after {
        height: 40px;
        width: 40px;
      }
      .heart:before {
        top: -17px
      }
    }
  }
  .people-section-container {
    // background-size: 900px;
    // background-position: -60px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
  .desc {
    font-size: 48px;
  }
  .small-about-section-container {
    .circle-pic {
      height: 20em;
      width: 20em;
      background-size: 490px;
      margin-top: 7%;
    }
    p {
      font-size: 28px;
      margin-bottom: none;
    }
  }
  footer {
    height: 12vh;
    .fb-icon {
      height: 55px;
      width: 55px;
    }
    .tw-icon {
      height: 62px;
      width: 62px;
    }
    .insta-icon {
      height: 68px;
      width: 68px;
    }
  }
}

@media (min-width: 900px){
  #nav-toggle {
    display: none
  }
}
