@media (min-width: 360px){
  .main-section-container {
    background-position: -17.5em;
  }
  .people-section-container {
    background-position: -60px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
}

@media (min-width: 375px){
  .main-section-container {
    background-position: -18.5em;
  }
  .people-section-container {
    background-position: -80px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 4em;
    }
  }
}

@media (min-width: 412px){
  .main-section-container {
    background-position: -20em;
  }
  .people-section-container {
    background-position: -60px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
}

@media (min-width: 414px){
  .main-section-container {
    background-position: -20.5em;
  }
  .people-section-container {
    background-position: -60px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
}

@media (min-width: 700px){
  .main-section-container {
    background-position: -22.5em;
  }
  .people-section-container {
    background-size: 900px;
    background-position: -60px;
  }
  .small-about-section-container {
    p {
      margin-bottom: 6em;
    }
  }
  .desc {
    font-size: 48px;
  }
  .small-about-section-container {
    .circle-pic {
      height: 20em;
      width: 20em;
      background-size: 490px;
      margin-top: 7%;
    }
    p {
      font-size: 28px;
      margin-bottom: none;
    }
  }
  footer {
    top: 318vh;
    .fb-icon .insta-icon .tw-icon {
      height: 55px;
      width: 55px;
    }
  }
}
