.travel-main-container {
  background: black;
  font-family: fantasy;
  height: 100%;
  
  .travel-header {
    background: url('https://hd.unsplash.com/photo-1470506926202-05d3fca84c9a');
    background-size: cover;
    height: 100vh;
  }
}
